@import "tailwindcss";

/* DARK THEME SCROLLBAR */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) #0a0a14;
}

html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

html::-webkit-scrollbar-track {
  background: #0a0a14;
}

html::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* LIGHT THEME SCROLLBAR */
html[data-theme="light"] {
  scrollbar-color: rgba(0, 0, 0, 0.15) #f8fafc;
}

html[data-theme="light"]::-webkit-scrollbar-track {
  background: #f8fafc;
}

html[data-theme="light"]::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

html[data-theme="light"]::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Hide scrollbar arrows and corners */
html::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html::-webkit-scrollbar-corner {
  background: transparent !important;
}

html[data-theme="light"]::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html[data-theme="light"]::-webkit-scrollbar-corner {
  background: transparent !important;
}

@media (max-width: 1024px) {
  .desktop-only { display: none !important; }
}
@media (min-width: 1025px) {
  .mobile-show { display: none !important; }
}